<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.mapper.GroupMapper">
	<insert id="insertGroupInfo" parameterType="org.project.domain.rsgGroup.RsgGroupVO">
		INSERT INTO rsg_group
		(UID, GNAME, GLIMIT, GDESCRIPTION, GDEL_YN)
		VALUES
		('admin', #{gName}, #{gLimit}, #{gDiscription}, 'N')
	</insert>
</mapper>